//---------------------------------------------------------------------------
//
// Name:        Project1App.rc
// Author:      kRutArtH
// Created:     10-03-2019 11:50:23 AM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
